<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <link href="https://fonts.googleapis.com/css2? 패밀리=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="category__food.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/category__food.css' %}">
    </head>
    <body>
        <ul class="category">
            <li class="category_ca"><a href="#">CATEGORY</a></li>
            <li class="category_food"><a href="../food">음식</a></li>
            <li class="category_place"><a href="../place">관광/명소</a></li>
            <li class="category_beauty"><a href="../beauty">여가/뷰티</a></li>
        </ul>  
        <div class="contents">
            <div class="header">
                <div class="header__title">
                    <span>음식🍔</span>
                    <span><a href="../">OuO: Offer you offer</a></span>
                </div>
                <div class="header__regions">
                    <ul>
                        <li>남구</li>
                        <li>달서구</li>
                        <li>달성군</li>
                        <li>동구</li>
                        <li>북구</li>
                        <li>수성구</li>
                        <li>서구</li>
                        <li>중구</li>
                    </ul>
                </div>
            </div>
            <div class="stores">
                <ul>
                    <li  OnClick="location.href ='food1'">
                        <div class="store__info">
                            <span class="store__name">바비레드 레스토랑</span>
                            <span class="store__des">인스타업로드이벤트 : 치킨샐러드 & 에이드증정</span>
                        </div>
                        <div>
                            <img src="" alt="이미지용">
                        </div>
                    </li>
                    <li>
                        <div class="store__info">
                            <span class="store__name">만촌동 양문이</span>
                            <span class="store__des">대학생 대상으로 30%할인 이벤트 진행</span>
                        </div>
                        <div>
                            <img src="" alt="이미지용">
                        </div>
                    </li>
                    <li>
                        <div class="store__info">
                            <span class="store__name">살맛나는 한우</span>
                            <span class="store__des">대학생 대상으로 30%할인 이벤트 진행</span>
                        </div>
                        <div>
                            <img src="" alt="이미지용">
                        </div>
                    </li>
                    <li>
                        <div class="store__info">
                            <span class="store__name">oo소품샵</span>
                            <span class="store__des">대학생 대상으로 30%할인 이벤트 진행</span>
                        </div>
                        <div>
                            <img src="" alt="이미지용">
                        </div>
                    </li>
                    <li>
                        <div class="store__info">
                            <span class="store__name">oo소품샵</span>
                            <span class="store__des">대학생 대상으로 30%할인 이벤트 진행</span>
                        </div>
                        <div>
                            <img src="" alt="이미지용">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>


