{% if error %}
{{ error }}
{% endif %}
<body style="background: rgb(173, 194, 173); display: flex; flex-direction: column; align-items: center;">
    <h1>Login</h1>
    <form style="display: flex; flex-direction: column; align-items: center;" method="POST" action="{% url 'login'%}">
        {% csrf_token %}
        <div style="width: 100%; display: flex; justify-content: space-between;">
            <span style="margin-right: 30px;">아이디</span>
            <input name="username" type="text" value="">
        </div>
        <div style="width: 100%; display: flex; justify-content: space-between;">
            <span style="margin-right: 30px;">비번</span>
            <input name="password" type="password" value="">    
        </div>
        <input style="border: 0; cursor: pointer; margin-top: 30px; border-radius: 5px; padding: 10px; background: lightgray;" class="btn btn-primary" type="submit" value="로그인">
    </form>
    <a style="text-decoration: none; border-radius: 5px; padding: 5px; background: lightgray; color: black;" href="{% url 'signup' %}" method = 'POST' > 회원가입</a>
</body>